.navbar {
    background-color: #000000; 
    color: #fff; 
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    
  }
  
  .navbar-brand {
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-left: 50%;
  }
  